body { 
    padding-top: 100px; 
    min-width: 480px;
}

.navbar-default {
    background-color: #353535;
    margin-bottom: 0;
    margin-left: 0;
    margin-right: 0;
    margin-top: 0;
}

.navbar-default .navbar-brand {
    font-family: 'Muli', sans-serif;
    font-family: 'Courgette', cursive;
    padding-bottom: 34px;
    padding-top: 36px;
    color: #FFFFFF;
    font-size: 26px;
}

.navbar-default .navbar-brand:hover,
.navbar-default .navbar-brand:active,
.navbar-default .navbar-brand:focus {
    color: #FF0000;
}

.navbar-default .navbar-nav > .active > a, 
.navbar-default .navbar-nav > .active > a:hover, 
.navbar-default .navbar-nav > .active > a:focus {
    color: #FFFFFF;
    background-color: rgba(0, 0, 0, 0);
}

.navbar-default li {
    float: left;
    border-top: 4px solid rgba(0,0,0,0);
    border-bottom: 4px solid rgba(0,0,0,0);
}

.navbar-default li:hover {
    border-top: 4px solid #FF0000;
    border-bottom: 4px solid #FF0000;
}

.navbar-default li > a {
    padding-left: 20px;
    letter-spacing: 1px;
    padding-bottom: 34px;
    padding-right: 20px;
    padding-top: 34px;
    text-transform: uppercase;
    border-top: 2px solid rgba(0,0,0,0);
    border-bottom: 2px solid rgba(0,0,0,0);
}

.navbar-default .navbar-nav > li > a:hover, 
.navbar-default .navbar-nav > li > a:focus {
    color: #FFFFFF;
}

 @media (max-width: 768px) {
    .navbar-default .navbar-brand {
        padding-top: 15px;
    }
    
    .navbar-default li {
        float: none;
        padding: 10px;
        border: none;
        
    }
    
    .navbar-default li:hover {
        border: none;
    }
    
    .navbar-default li.active,
    .navbar-default li:active,
    .navbar-default li:hover,
    .navbar-default li:focus,
    .navbar-default .navbar-nav > li > a.active,
    .navbar-default .navbar-nav > li > a:hover, 
    .navbar-default .navbar-nav > li > a:focus,
    .nav-default .navbar-nav > li > a:active,
    .navbar-default .navbar-nav > .active > a, 
    .navbar-default .navbar-nav > .active > a:hover, 
    .navbar-default .navbar-nav > .active > a:focus {
        color: #FF0000;
    }
    
    .nav > li > a {
        padding: 0;
    }
}

body > .container {
    padding-bottom: 0;
    padding-left: 15px;
    padding-right: 15px;
    padding-top: 60px;
}

.container {
    margin-left: auto;
    margin-right: auto;
    padding-left: 15px;
    padding-right: 15px;
}

.footer {
    background-color: #F5F5F5;
    bottom: 0;
    height: 60px;
    position: absolute;
    width: 100%;
    text-transform: uppercase;
}

.footer .container .text-muted {
    margin-bottom: 20px;
    margin-left: 0;
    margin-right: 0;
    margin-top: 20px;
    color: #999999;
}
